
.contentCarousel{
    width: 650px;
    height: auto;
    margin-top: 25px;
    img{
        border-radius: 10px;
    }
}
.contentServiceDiv{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    figure{
        display: flex;
        img{
           width: 100%;
           height: auto;
       }
    }
   
}