@import "../../styles/globals.scss";
@import "../../styles/main.scss";

.content_accordeon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content_images {
    .first_img {
      max-width: 420px;
      height: 280px;
      object-fit: cover;
    }

    .content_others_images {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 17px 0px 0px 0px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }

  .content_infos_accordion {
    width: 80%;
    display: grid;
    align-items: end;
  
    .content_text {
      display: flex;
      min-height: 235px;
      justify-content: center;
      p {
        width: 250px;
        padding: 15px;
        text-align: center;
      }
    }
  }
}

.accordion {
  padding: 10px;

  .accordion-header {
    background-color: var(--black);
    color: var(--white);

    .accordion-button {
      background-color: var(--black);
      color: var(--white);
      &:focus {
        border: 1px solid transparent;
      }
    }
 }
 .accordion-body{
  .inputNumber{
    width: 70px;
    height: 50px;
    font-size: 35px;
    outline: var(--green-message);
  }
 }
 .inputCheck{

 }
}
.modal_footer_buttons{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}