@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

:root {
  --red:#A62626;
  --yellow:#DF8C2A;
  --sizeButtonP: 70px;
  --sizeButtonM: 140px;
  --sizeButtonG: 220px;
  --primary-color: #2A9FB9;
  --green: #2AB952;
  --black: #000000;
  --white: #FFFFFF;
  --globalShadow :#29435e;
  --green-message: #6CDD99;
  --primary-font: 'Julius Sans One',sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Julius Sans One', sans-serif;
}