@import '../styles/globals.scss';
@import "../styles/main.scss";

.contentPromo{
    min-height: 500px;
    .contentCreatButton {
       width:80.5%;
       padding: 25px 0px;
       margin: 20px;
    }
    
    .title{
        text-align: center;
        padding: 20px 0px;
    }
    .contentCardPromos{
        display: flex;
        flex-direction: row;
        border: 1px solid var(--white);
        border-radius: 10px;
        margin: 25px;
        img{
            max-width: 420px;
            height: auto;
            margin: 20px;
            border-radius: 10px;
        }
        .infosCardContent{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 15px;
            .contentButtons{
                border: 1px solid var(--white);
                text-align: center;
                padding: 10px;
                p{
                    margin: 0;
                }
            }
        }

    }
}