@import '../../styles/main.scss';
.cards{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 15%;
}
.imageCard{
    width: 250px;
    height: 300px;
    border-radius: 15px;
}
.internoCards{
    display: flex;
    flex-direction: column;
}
.buttonsHome{
   width: var(--sizeButtonM);
}
