@import "../../styles/main.scss";
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");

.contentInternaButtonAndCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contentCards{
  margin: 20px;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items :center;
}
.imageCard {
  max-width: 250px;
  height: 300px;
  border-radius: 15px;
  
}
.internoCards {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.contentCreatButton {
  width:80.5%;
  padding: 25px 0px;
}
.buttonsHome {
  width: var(--sizeButtonM);
}
